$dark: #15141a;
$dark-gray: #23222b;
$light: #fbfbfe;

// body {
//   background-color: $dark;
// }

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $light;
  background-color: $dark !important;
}
