$dark: #15141a;
$dark-gray: #23222b;
$light: #fbfbfe;
$mid-blue: #0554f2;
$light-blue: #196eff;
$dark-blue: #013cc9;
$transition: all 0.3s ease-in-out;

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $light;
  background-color: $dark !important;
  .hero-text {
    display: flex;
    flex-direction: column;
    border-left: 3px solid $light-blue;
    padding: 0 24px;
    h1 {
      font-size: 3rem;
      font-weight: 900;
      margin: 0 0 20px;
    }
    p {
      font-size: 1.2rem;
      margin: 0 0 30px;
    }
    button {
      color: $light;
      border: 2px solid $light;
      outline: none;
      width: 200px;
      transition: $transition;
      &:hover {
        color: $light-blue;
        background-color: $light;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.follow-icons {
  .icon {
    font-size: 3rem;
    color: $light;
    padding: 0 3px;
    transition: $transition;
    &:hover {
      color: $light-blue;
      background-color: $light;
    }
  }
}

// projects section

.sub-header {
  h2 {
    font-size: 2.5rem;
    font-weight: 900;
  }
}

.button-group {
  button {
    background-color: $light-blue;
    outline: none;
    border: 2px solid $mid-blue;
    &:hover {
      background-color: $light;
      color: $light-blue;
      border: 2px solid $mid-blue;
    }
    &:focus {
      background-color: $light;
      color: $light-blue;
      border: 2px solid $mid-blue;
      outline: none;
    }
  }
}

.front-isible {
  background-color: $light-blue;
  opacity: 1;
}

.no-visible {
  opacity: 0;
}

.project-box {
  .image-container {
    overflow: hidden;
    img {
      transition: $transition;
    }
  }
  &:hover img {
    transform: scale(1.05);
  }
}
